<%- include('../partials/header') %>
<body>
    <h1>Recipes</h1>
    <table>
        <thead>
          <tr>
            <th>remove</th>
            <th>Name</th>
            <th>Ingredients</th>
            <th>Difficulty</th>
            <th>Allergies</th>
            <th>Cooking Instructions</th>
          </tr>
        </thead>
        <tbody>
            <% recipe.forEach(function(r) { %>
                <tr>
                  <td><form action="/recipes/<%= r.id %>?_method=DELETE"
                    class="delete-form" method="POST">
                    <button type="submit">X</button>
                  </form></td>
                <td><%= r.recipeName%></td>
                <td><%= r.ingredients%></td>
                <td><%= r.difficult%></td>
                <td><%= r.allergies ? 'Yes' : 'Nope' %></td>
                <td><%= r.cookingInstructions%></td>
                <td><a href="/recipes/<%= r._id %>">DETAILS</a></td>
                <td><a href="/recipes/<%= r._id %>/edit">Edit recipe</a></td>
                </tr>
                <% }); %>
        </tbody>
    </table>

<%- include('../partials/footer') %>